main {
  height: 1000px;
}

.main__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 77%;
  height: 68%;
  margin: 90px auto;
}

.main__card_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 370px;
  height: 305px;
  gap: 30px;
}
.card__icon {
  width: 100px;
  height: 100px;
}
.card__icon1 {
  background: url(../image/icon_1.svg) center/cover no-repeat;
}
.card__icon2 {
  background: url(../image/icon_2.svg) center/cover no-repeat;
}
.card__icon3 {
  background: url(../image/icon_3.svg) center/cover no-repeat;
}
.card__icon4 {
  background: url(../image/icon_4.svg) center/cover no-repeat;
}
.card__icon5 {
  background: url(../image/icon_5.svg) center/cover no-repeat;
}
.card__icon6 {
  background: url(../image/icon_6.svg) center/cover no-repeat;
}
.card__title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
.card__title:hover {
    color: rgb(29, 180, 239);
    cursor: pointer;
}
.card__content {
  font-weight: 400;
  font-size: 18px;
  color: #6c7279;
}

.block-pictures {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 700px;
  margin: 0 auto;
}

.block-pictures__pic1,
.block-pictures__pic2,
.block-pictures__pic3,
.block-pictures__pic4,
.block-pictures__pic5,
.block-pictures__pic6,
.block-pictures__pic7,
.block-pictures__pic8 {
  width: 25%;
  height: 50%;
}

.block-pictures__pic1 {
  background: url(../image/pic1.jpg) center/cover no-repeat;
}
.block-pictures__pic2 {
  background: url(../image/pic2.jpg) center/cover no-repeat;
}

.block-pictures__pic3 {
  background: url(../image/pic3.jpg) center/cover no-repeat;
}
.block-pictures__pic4 {
  background: url(../image/pic4.jpg) center/cover no-repeat;
}
.block-pictures__pic5 {
  background: url(../image/pic5.jpg) center/cover no-repeat;
}
.block-pictures__pic6 {
  background: url(../image/pic6.jpg) center/cover no-repeat;
}
.block-pictures__pic7 {
  background: url(../image/pic7.jpg) center/cover no-repeat;
}
.block-pictures__pic8 {
  background: url(../image/pic8.jpg) center/cover no-repeat;
}
.block-pictures_hover {
  width: 100%;
  height: 100%;
}
.block-pictures_hover:hover {
  background: var(--color-coral);
  opacity: 0.8;
  text-align: center;
  transition: 0.6s;
}
.block-pictures_hover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.block-pictures_hover-content:hover {
  opacity: 1;
  transition: 0.4s;
}
.block-pictures_hover-title {
  width: 380px;
  height: 60px;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}
.block-pictures_hover-text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
}

.block-faces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  height: 650px;
  margin: 114px auto;
}
.block-faces__1,
.block-faces__2,
.block-faces__3,
.block-faces__4 {
  width: 270px;
  height: 650px;
  display: flex;
  flex-direction: column;
}
.block-faces__face1,
.block-faces__face2,
.block-faces__face3,
.block-faces__face4 {
  width: 270px;
  height: 270px;
  background-color: #6c727961;
}

.block-faces__face1 {
  background: url(../image/face1.jpg) center/cover no-repeat;
}
.block-faces__face2 {
  background: url(../image/face2.jpg) center/cover no-repeat;
}
.block-faces__face3 {
  background: url(../image/face3.jpg) center/cover no-repeat;
}
.block-faces__face4 {
  background: url(../image/face4.jpg) center/cover no-repeat;
}

.block-faces__title {
  font-weight: 700;
  font-size: 24px;
  max-width: 270px;
  margin-top: 30px;
}
.block-faces__title_red {
  font-weight: 400;
  font-size: 18px;
  color: #ff4343;
  text-transform: uppercase;
  max-width: 270px;
  margin-bottom: 18px;
}
.block-faces__content {
  font-weight: 400;
  font-size: 18px;
  color: #6c7279;
  max-width: 270px;
}
.block-faces__icons {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 38px;
}
.block-faces__icon-facebook,
.block-faces__icon-twitter,
.block-faces__icon-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../image/icon_facebook.svg);
  width: 39px;
  height: 39px;
  margin: 3px;
}
.block-faces__icon-f-facebook {
  background: url(../image/f_facebook.svg);
  width: 9.3px;
  height: 18px;
}
.block-faces__icon-t-twitter {
  background: url(../image/t_twitter.svg);
  width: 19.65px;
  height: 15.96px;
}
.block-faces__icon-l-linkedin {
  background: url(../image/l_linkedin.svg);
  width: 19.65px;
  height: 15.96px;
}

.quote {
  width: 100%;
  height: 490px;
  display: flex;
  flex-wrap: wrap;
}

.quote__image {
  width: 49%;
  height: 490px;
  background: url(../image/two_womans.jpg) center/cover no-repeat;
}
.quote__text {
  width: 51%;
  height: 490px;
  background-color: #5c3249;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote__content {
  width: 471px;
  height: 230px;
  font-family: "Cardo", serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-white);
  text-transform: capitalize;
}
.quote__author {
  width: 471px;
  font-family: 'Raleway';
  font-size: 13px;
  color: var(--color-white);
  text-transform: uppercase;
}
.quote__dotted {
  display: flex;
  width: 200px;
  height: 100px;
  margin: 31px auto 0;
}
.quote__dotted-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #7e5d6f;
  margin-right: 25px;
}
.quote__dotted-item:active {
  background-color: #7e5d6f;
}
.download {
  width: 100%;
  height: 497px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download__title {
  width: 695px;
  height: 37px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin-top: 30px;
}
.download__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin: 30px;
}

@media (max-width: 1580px) {
  .header {
    width: 1400px;
  }
  .header__logo {
    margin-left: 50px;
  }
  .header__nav {
    margin-right: 50px;
  }
  .main__card {
      width: 85%;
  }
  .block-faces {
    width: 100%;
  }
}
@media (max-width: 1440px) {
    .main__card {
        width: 95%;
    }
}
@media (max-width: 1400px) {
  .about,
  main {
    width: 1400px;
  }
}
@media (max-width: 1300px) {
  .header__nav {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .main__card {
    width: 1400px;
    height: 682px;
    margin: 70px auto;
  }
  .main__card_item {
    width: 420px;
    height: 315px;
    gap: 45px;
  }
  .block-faces {
    width: 100%;
  }
  .footer__menu {
    width: 80%;
  }
  .footer__menu_location,
  .footer__menu_social,
  .footer__menu_about,
  .footer__menu_title {
    width: 315px;
  }
}

@media (max-width: 900px) {
  .main__card {
    flex-basis: 49%;
  }
}
@media (max-width: 768px) {
    .header__nav {
        display: none;
    }
    .burger__label {
        display: block;
    }
}
@media (max-width: 320px) {
    .about {
        width: 320;
        height: 574px;
        background: url(../image/background_burger.jpg) no-repeat;
    }
    .header {
        width: 320px;
        border-bottom: none;
    }
    .header__logo {
        width: 102px;
        height: 14px;
        padding-bottom: 58px;
    }
    .logo {
        width: 155px;
    }
    .about__title {
        width: 280px;
        height: 210px;
        font-size: 36px;
        margin: 20px;
    }
    .about__content {
        width: 280px;
        height: 64px;
        font-size: 14px;
        margin: 40px 20px;
    }
    .about__button {
        width: 320px;
        margin-top: 10px;
    }
    main {
        width: 320px;
    }
    .card__icon {
        width: 68px;
        height: 68px;
        margin-bottom: 40px;
      }
    .card__title {
        font-size: 18px;
    }
    .card__content {
        width: 279px;
        height: 80px;
        font-size: 14px;
    }
    .main__card_item {
        width: 320px;
        gap: 15px;

    }
    .main__card {
        display: block;
        width: 320px;
        height: 1930px;
        margin: 15px 0;
    }
    .block-pictures {
        width: 320px;
        height: 580px;
    }
    .block-pictures__pic1,
    .block-pictures__pic2,
    .block-pictures__pic3,
    .block-pictures__pic4,
    .block-pictures__pic5,
    .block-pictures__pic6,
    .block-pictures__pic7,
    .block-pictures__pic8 {
        width: 50%;
        height: 25%;
    }
    .block-pictures_hover-title {
        width: 160px;
        height: 25px;
        font-size: 18px;
    }
    .block-pictures_hover-text {
        font-size: 14px;
    }
    .block-faces {
        margin: 35px auto;
        height: 2450px;
    }
    .block-faces__title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .block-faces__title_red {
        font-size: 14px;
        margin-bottom: 40px;
    }
    .block-faces__content {
        font-size: 14px;
        text-align: justify;
    }
    .block-faces__1,
    .block-faces__2,
    .block-faces__3,
    .block-faces__4 {
      height: 640px;
    }
    .burger__menu {
        width: 320px;
    }
    .quote {
        margin-top: 100px;
    }  
    .quote__image {
        width: 320px;
        height: 212px;
    }
    .quote__text {
        width: 320px;
        height: 336px;
    }
    .quote__content {
        width: 275px;
        height: 206px;
        font-size: 24px;
        text-align: center;
    }
    .quote__author {
        font-size: 12px;
        width: 275px;
        height: 25px;
    }
    .quote__dotted {
        margin-left: 74px;
    }
    .download {
        margin-top: 100px;
        text-align: center;
        height: 360px;
        justify-content: center;
    }
    .download__title {
        width: 280px;
        height: 80px;
        font-size: 18px;
    }
    .download__text {
        font-size: 13px;
    }
    .footer__container {
        flex-direction: column;
        width: 320px;
        height: 540px;
    }
    .footer__menu_title {
        width: 280px;
        height: 16px;
        font-size: 14px;
    }
    .footer__menu_title-block {

    }
}

